@using RgpWeb.Enums
@model Owner

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Labot zemes īpašnieka datus</h2>
            <hr/>
        </div>
        <div class="mb-3">
            <label asp-for="FullName">Vārds, Uzvārds/ Nosaukums</label>
            <input asp-for="FullName" class="form-control"/>
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="RegNumber">Personas kods/ Reģistrācijas Nr.</label>
            <input asp-for="RegNumber" class="form-control"/>
            <span asp-validation-for="RegNumber" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="OwnerType">Tips</label>
            @Html.DropDownListFor(m => m.OwnerType, 
                new SelectList(Enum.GetValues(typeof(OwnerType))), 
                "Izvēlēties",
                new {@class = "form-control"})
            <span asp-validation-for="OwnerType" class="text-danger"></span>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary" style="width: 150px">Labot</button>
        <a asp-controller="Owner" asp-action="Index" class="btn btn-secondary" style="width: 150px">Atgriezties</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}